html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0px;
}
#container {
  min-height: 100vh;
  position: relative;
}
header h1 {
  font-size: 8vmin;
  margin: 0px 0px 20px 0px;
}
main {
  padding-bottom: 50px;
  font-size: 15px;
}
label {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 12px;
  width: 100%;
}
#text-input {
  max-height: 40vh;
  max-width: 100%;
  text-align: right;
  font-size: 22px;
  overflow-y: auto;
}
input[type="button"] {
  display: block;
  margin: 15px auto;
  padding: 5px 20px;
  height: 10vmin;
  background-color: skyblue;
  color: white;
}
#braille {
  border: 1px solid lightblue;
  max-height: 40vh;
  max-width: 100%;
  margin: 20px 10px;
  font-size: 22px;
  overflow-y: auto;
}
article {
  padding-left: 25px;
}
footer {
  height: 50px;
  line-height: 16px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: skyblue;
  color: white;
  font-size: 12px;
}